.popup {
    display: none;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.popup__close-button {
    z-index: 1;
    width: 25px;
    height: auto;
    position: absolute;
    top: -1.75rem;
    right: -1.75rem;
}

.popup__close-button-img {
    z-index: 2;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.popup__form-container {
    width: 35vw;
    height: 30vw;
    position: fixed;
    top: 26%;
    left: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: white;
}

.popup__form {
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.popup__form-fieldset {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1vw;
    border: none;
    margin: 0;
    padding: 0;
}

.popup__form-legend {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Inter-Black", sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.popup__form-input {
    width: 95%;
    height: auto;
    border: none;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.popup__form-input-error {
    color: red;
    border-bottom: 1px solid red;
}

.popup__error-info {
    color: none;
    font-size: clamp(0.65rem, 1.5vw, 0.8rem);
}


.popup__error-info_visible {
    color: red;
}

.popup__submit-button {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: white;
    width: 100%;
    min-width: 200px;
    height: auto;
    border-radius: 2.5px;
    background-color: black;
}

.popup__submit-button_disabled {
    color: rgb(202, 202, 202);
    border: 1.5px solid rgb(202, 202, 202);
    background-color: white;
}

.popup__submit-button-text {
    color: inherit;
}

.popup__overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup__img-container {
    width: auto;
    height: auto;
    position: fixed;
}

.popup__img {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
}

.popup__img-title {
    align-self: flex-start;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    .popup__form-container {
        width: 45vw;
        height: 40vw;
        left: 26.5%;
    }

    .popup__form-fieldset {
        gap: 2vw;
    }
}

@media screen and (max-width: 500px) {
    .popup__form-container {
        width: 68vw;
        min-width: 200px;
        height: 62vw;
        min-height: 250px;
        top: 24%;
        left: 15%;
    }
}